# Ignore GeoIP databases and other data files
data/
data/*.mmdb
data/*.txt

# Common OS/editor clutter
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

# Go build artifacts
bin/
*.exe
*.out

# IDE/editor config
.vscode/
.idea/

examples/debug/
